.outer-div{
    height: 120%;
    width:100%;
    background-image: url('/assets/bg.jpg');
}

.card-div{
    /* height: 40%; */
    width: 40%;
}

.welcome-text{
    font-weight: bold;
    font-size: 14px;
    color:rgba(0,0,0,.87);
}

.inner-div{
    height: 100%;
    width:100%;
}

.input-field{
    width:100%;
}

.input-inner{
    height: 100%;
    width: 100%;
}

.button{
    background-color:#123456;
}